header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

nav {
    display: flex;
    width: 100%;
}

.buttonTab {
    height: 60px;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    flex: 1;
    border-bottom: 1px solid #f2f2f3;
}



.buttonTab:hover:not(.activeButtonTab) {
    border-color: #cfcfd3;
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    cursor: pointer;
}

.activeButtonTab {
    background: linear-gradient(to bottom, #ffffff, #ffe5e5);
    border-color: #d70018;
    color: #d70018;
}

.activeButtonTab:hover {
    cursor: pointer;
}

.separate {
    margin-top: auto;
    margin-bottom: auto;
    height: 1.25rem; 
    border-left-width: 1px;
    border-style: solid;        
    border-color: rgb(229 229 229);
}